RAW_DATA_DIR_PATH=data/raw
MODEL_KERAS_PATH=models/plant_disease_model.keras
MODEL_ONNX_PATH=models/plant_disease_model.onnx
WANDB_KEY=key-secret
WANDB_PROJECT_NAME=plant_disease_project
WANDB_ENTITY=your-entit7
